.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board{
  display: grid;
  margin:auto 0;
  grid-template-columns: repeat(20,10px);
  grid-template-rows:repeat(20,10px);
  width: 300px;
  height: 300px;
  position:relative;
  background-color: #333;
}

.cell{
  width:10px;
  height:10px;
  background-color: #000000;
  border:0.1px solid #222;
  box-sizing:border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character{
  position:absolute;
  width:10px;
  height:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:8px;
  pointer-events:none;
  transition: top 0.1s, left 0.1s;
}

.dot{
  width: 3px;
  height: 3px;
  background-color:#ffb8ae;
  border-radius:50%;
  box-shadow:0 0 2px #ffb8ae;
}